<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air.solex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_part"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".activities.common.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.common.SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.CompanyProfileActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.companies.UpdateCompanyDataActivity"
            android:label="@string/new_info"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.developers.DeveloperProfileActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.developers.UpdateDeveloperDataActivity"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.common.DrawerActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.companies.CompanyProjectsActivity"
            android:label="@string/list_projects"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.AddNewProjectActivity"
            android:label="@string/create_new_project"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.ProjectManagementActivity"
            android:label="@string/project_management"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.NewNeededCollaborationActivity"
            android:label="@string/new_collaboration"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.CompanyCollaborationsActivity"
            android:label="@string/collaborations"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.FavouritesActivity"
            android:label="@string/favourites"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.common.CollaborationActivity"
            android:label="@string/collaborations"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.developers.ProjectSearchActivity"
            android:label="@string/search_projects"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.developers.DeveloperApplicationsActivity"
            android:label="@string/previous_applications"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.developers.DeveloperCollaborationsActivity"
            android:label="@string/collaborations"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.common.ProjectListingActivity"
            android:label="@string/project_listing"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.common.ProjectDisplayActivity"
            android:label="@string/project_display"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.companies.CompanyNeededCollaborationActivity"
            android:label="@string/needed_collaboration"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.developers.DeveloperNeededCollaborationActivity"
            android:label="@string/job_opportunity"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.developers.DeveloperProjectsActivity"
            android:label="@string/my_projects"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.common.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.common.AppPreferencesActivity"
            android:theme="@style/ActivityWithInput">

        </activity>

        <service android:name=".utils.firebase.MyFirebaseMesagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".utils.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

    </application>

</manifest>