<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air.solex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_part"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CompanyProfileActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".UpdateCompanyDataActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DeveloperProfileActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".UpdateDeveloperDataActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DeveloperCollaborationsActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DeveloperApplicationsActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ProjectSearchActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".FeelingLuckyActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".NeededCollaborationActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CompanyProjectsActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".NewProjectActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ProjectManagementActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".NewNeededCollaborationActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".DrawerActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CompanyNeededCollaborationActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".CollaborationActivity"
            android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>