<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air.solex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo_part"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".activities.common.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.common.SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.CompanyProfileActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.companies.UpdateCompanyDataActivity"
            android:label="Enter new info"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"  />
        <activity
            android:name=".activities.developers.DeveloperProfileActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.developers.UpdateDeveloperDataActivity"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"  />
        <activity
            android:name=".activities.common.DrawerActivity"
            android:theme="@style/AcitivityProfilesBlue" />
        <activity
            android:name=".activities.companies.CompanyProjectsActivity"
            android:label="List of your projects"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.AddNewProjectActivity"
            android:label="Create new project"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.ProjectManagementActivity"
            android:label="Project Management"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.NewNeededCollaborationActivity"
            android:label="New Collaboration"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.CompanyCollaborationsActivity"
            android:label="Collaborations"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.FavouritesActivity"
            android:label="Favourites"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.common.CollaborationActivity"
            android:label="Collaboration"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.developers.ProjectSearchActivity"
            android:label="Search projects"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.developers.DeveloperApplicationsActivity"
            android:label="Previous applications"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.developers.DeveloperCollaborationsActivity"
            android:label="Collaborations"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.common.ProjectListingActivity"
            android:label="Project listing"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.common.ProjectDisplayActivity"
            android:label="Project display"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.companies.CompanyNeededCollaborationActivity"
            android:label="Needed collaboration"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.developers.DeveloperNeededCollaborationActivity"
            android:label="Job opportunity"
            android:theme="@style/ActivityWithInput"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.common.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>